/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

img,
canvas,
svg {
  display: block;
}

button,
input,
select,
textarea {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --primary: #2c3639;
  --secondary: #3f4e4f;
  --tertiary: #a27b5c;
  --text: #dcd7c9;
}
